<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>悠遊卡、一卡通、愛金卡服務</h1>
        <h2>一機三卡皆可使用</h2>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <section id="about-us" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">

                    <div class="section-title text-center">
                        <h2>
                            產品介紹
                        </h2>
                    </div>         

                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i>加入會員、掃碼支付一機搞定</li>
                            <li><i class="fa fa-circle"></i>無現金交易、小額付款超方便</li>
                            <li><i class="fa fa-circle"></i>一機三卡節省空間</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
        <div class="overlay">
            <div class="container-fluid container-full" data-aos="zoom-in">

                <div class="row">
                    <a href="#" class="js-modal-btn play-btn" data-video-id="LMdwWt_eNv4"></a>
                </div>

            </div>
        </div>
    </section><!-- End Video Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>費用說明</h2>
            </div>

            <div data-aos="fade-up" data-aos-delay="100">
                <p> 表格區 </p>

            </div>
        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= 申請流程 Section ======= -->
    <section id="pricing" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>申請流程</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3"> 
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step1</h2>
                            <p>線上註冊帳號</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step2</h2>
                            <p>準備審查必要文件</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step3</h2>
                            <p>內部人員審查</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step4</h2>
                            <p>
                                準備商店大小章，進行紙本合約用印
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step5</h2>
                            <p>
                                金流公司內部審核
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step6</h2>
                            <p>
                                通知審核結果/裝機
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= service_apply Section ======= -->
    <section id="service_apply" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <!--<div" class="service-apply-btn">
                    <a href="https://newpayment.wonlive.com.tw/MerchantDraft/Create/e1cae30bf657460da671b08cac2201cd" class="btn">服務申請</a>
                </div>-->
                <a href="https://newpayment.wonlive.com.tw/MerchantDraft/Create/e1cae30bf657460da671b08cac2201cd" class="service-apply-btn">服務申請</a>
            </div>
        </div>
        
    </section><!-- End service_apply Section -->

</main><!-- End #main -->