<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>悠遊卡、一卡通、愛金卡服務</h1>
        <h2>一機三卡皆可使用</h2>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <section id="about-us" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">

                    <div class="section-title text-center">
                        <h2>
                            產品介紹
                        </h2>
                    </div>

                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i>加入會員、掃碼支付一機搞定</li>
                            <li><i class="fa fa-circle"></i>無現金交易、小額付款超方便</li>
                            <li><i class="fa fa-circle"></i>一機三卡節省空間</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
        <div class="overlay">
            <div class="container-fluid container-full" data-aos="zoom-in">

                <div class="row video-poster-sample">
                    <a href="#" class="js-modal-btn play-btn" data-video-id="p4DNioRXoTE"></a>
                </div>

            </div>
        </div>
    </section><!-- End Video Section -->

    <!-- ======= horizon-pricing Section ======= -->
    <section id="horizon-pricing" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>費用說明</h2>
            </div>

            <div class="text-left">     
                <p>
                    使用半年內 免費 ， 一年後  年繳$____  半年$_____  月繳$_____
                </p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th rowspan="4">端末設備費用項目</th>
                                <td>年費</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>

                                <td>設定費</td>
                                <td> </td>
                                <td>一次性收取</td>
                            </tr>
                            <tr>
                                <td>設備押金</td>
                                <td> </td>
                                <td>商店解約後設備歸還</td>
                            </tr>
                            <tr>

                                <td>刷卡機紙捲/(每捲)</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>票證公司</th>
                                <th>手續費</th>
                                <th>匯款日</th>
                                <th>轉帳費用</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>愛金卡(icash)</td>
                                <td>1.5 %</td>
                                <td>統一每周二匯款</td>
                                <td>0元</td>
                            </tr>
                            <tr>
                                <td>悠遊卡</td>
                                <td>1.5 %</td>
                                <td>D+2</td>
                                <td>0元</td>
                            </tr>
                            <tr>
                                <td>愛金卡(icash)</td>
                                <td>1.5 %</td>
                                <td>D+2</td>
                                <td>0元</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End horizon-pricing Section -->

    <!-- ======= application-process Section ======= -->
    <section id="application-process" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>申請流程</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step1</h2>
                            <p>線上註冊帳號</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step2</h2>
                            <p>準備審查必要文件</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step3</h2>
                            <p>內部人員審查</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step4</h2>
                            <p>
                                準備商店大小章，進行紙本合約用印
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step5</h2>
                            <p>
                                金流公司內部審核
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step6</h2>
                            <p>
                                通知審核結果/裝機
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End application-process Section ======= -->

    <!-- ======= service-apply Section ======= -->
    <section id="service-apply" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <a href="https://newpayment.wonlive.com.tw/MerchantDraft/Create/e1cae30bf657460da671b08cac2201cd" class="apply-btn">服務申請</a>
            </div>
        </div>

    </section><!-- End service-apply Section -->



</main><!-- End #main -->