<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-7 col-lg-5">
                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                        <h2>關於我們</h2>

                        <h3>LeapHight 會員系統：</h3>
                        <p>
                            幫助生意人想經營會員、主要提供發放「現金回饋點」和「贈品券」，達到生客轉熟客、熟客回流，也能幫您洽談禮券發行達到像連鎖店面業者一樣可發行寄杯，並提供多家支付廠商的整合服務以及多家pos廠商的整合方案。
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- End About Us Section -->

    <!-- ======= leap-feature Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-7 col-lg-5">
                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                        <h3>產品特色</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-angle-right"></i>加入會員、掃碼支付一體搞定</li>
                            <li><i class="fa fa-angle-right"></i>發行點數、贈送禮券好簡單</li>
                            <li><i class="fa fa-angle-right"></i>雲端報表一手掌握</li>
                            <li><i class="fa fa-angle-right"></i>設備：</li>
                            <li><i class="fa fa-angle-right"></i>精簡人力、低成本提高商店營收</li>
                            <li><i class="fa fa-angle-right"></i>支援多元載體做為會員卡</li>
                            <li><i class="fa fa-angle-right"></i>開通系統帳號簡單方便</li>
                            <li><i class="fa fa-angle-right"></i>適合：寵物店、寵物美容院、寵物醫院、按摩店、......</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- End leap-feature Section -->

</main><!-- End #main -->
