<main id="main">

    <!-- ======= Q&A Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-7 col-lg-5">
                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                        <h2>Q&A</h2>
                        <h4>Q：你們是做什麼的？</h4>
                        <p>A：提供生意人想經營會員、主要提供發放「現金回饋點」和「贈品券」，達到生客轉熟客、熟客回流，也能幫您洽談禮券發行達到像連鎖店面業者一樣可發行寄杯，並提供多家支付廠商的整合服務以及多家pos廠商的整合方案。</p>


                        <h4>Q：你們這系統要怎麼用？</h4>
                        <p>
                            A：我方提供不同的商店型態有幾種方案可選擇:
                            <ul>
                                <li>商店用自己的手機APP登入商店APP，可以查看消費者線上點餐、購物，付款後可看到取餐、取貨時間</li>
                                <li>商店想要有實體卡片做為會員卡，可安裝  會員卡一體機器，此機器可快速讓消費者資料與實體卡片綁定作為會員載體</li>
                                <li>
                                    a.商店已有現行的pos系統，想增加會員服務，我方可開放串接API方式提供給pos商整合
                                    <br>b.商店想要有pos系統等功能，可選擇我們已串好的pos設備，直接安裝整組設備
                                </li>
                                <li>想客製服務與設備的可以另外開需求進行整合</li>
                            </ul>
                        </p>
                        <p></p>

                        <h4>Q：用你們這個系統可以帶給我們什麼好處？</h4>
                        <p>A：想經營會員服務的生意人可以在低成本的情況下直接使用這樣的服務，不需額外在找系統商整合、也無需跟各家金融單位洽談多元支付的費率、更省下儲值金、商品券(寄杯)對銀行的履約流程</p>
                        <p></p>

                        <h4>Q：這要怎麼申請？</h4>
                        <p>
                            A：申請服務有分為:
                            <ul>
                                <li>1. 會員、現金回饋點、商品券</li>
                                <li>2. 多元支付：票證卡(悠遊卡、一卡通、愛金卡)、信用卡</li>
                                <li>3. 硬體設備：pos機、自助點餐機 </li>
                                <li>4. 充值、禮券、履約處理</li>
                            </ul>

                        </p>
                        <p></p>

                        <h4>Q：收費多少？</h4>
                        <p>
                            A：使用一年內 免費 ， 一年後  年繳$____  半年$_____  月繳$_____，申請服務有分為:
                            <ul>
                                <li>1、會員、現金回饋點、商品券</li>
                                <li>2、多元支付：票證卡(悠遊卡、一卡通、愛金卡)、信用卡</li>
                                <li>3、硬體設備：pos機、自助點餐機</li>
                                <li>4、充值、禮券、履約處理</li>
                            </ul>
                        </p>
                        <p></p>

                        <h4>Q：我付費後有哪些功能可以使用？</h4>
                        <p>A：承上回答</p>
                        <p></p>

                        <h4>Q：專人可以幫我安裝跟教我操作嗎？</h4>
                        <p>A：若您要安裝卡機 user 角度  後台使用者角度、設備操作影片</p>
                        <p></p>

                        <h4>Q：我要提供什麼資料才能將商品導入Line@裡？</h4>
                        <p> </p>
                        <p></p>

                        <h4>Q：我已經有自己的pos機，請問我要怎麼跟您們服務串接？</h4>
                        <p>A：我方將提供API請pos機廠商整合，也有提供獨立的pos機可以供您使用</p>
                        <p></p>

                        <h4>Q：我最近要開一家新店面，你們這個服務可以有餐桌設定、庫存管理、點餐、外帶服務的整合嗎？</h4>
                        <p>
                            A：我方方案：
                            <br>整合廠商方案：
                        </p>
                        <p></p>

                        <h4>怎麼開始發行自有的現金回饋點、商品券？</h4>
                        <p>後台教學、設定影片</p>
                        <p></p>

                        <h4>Q：消費者集了多少點我怎麼控管、核銷點數？</h4>
                        <p>A:</p>
                        <p></p>

                        <h4>Q：點數跟商品券我可以設定效期嗎？</h4>
                        <p>A: </p>
                        <p></p>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Q&A Section -->

</main><!-- End #main -->