
@charset "UTF-8";

/* application_process Table Section
--------------------------------*/
#application_process .block-pricing {
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #application_process .block-pricing {
        margin-bottom: 30px;
    }
}

#application_process .block-pricing .table {
    margin-bottom: 0;
    padding: 30px 15px;
    max-width: 100%;
    width: 100%;
}

#application_process .block-pricing .table h4 {
    padding-bottom: 30px;
}

#application_process .block-pricing h2 {
    margin-bottom: 30px;
}

#application_process .block-pricing ul {
    list-style: outside none none;
    margin: 10px auto;
    max-width: 240px;
    padding: 0;
}

#application_process .block-pricing ul li {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    padding: 12px 0;
    text-align: center;
}

#application_process .block-pricing ul li b {
    color: #3c4857;
}

#application_process .block-pricing .table .table_btn a {
    background: #aa4d64;
    color: #fff;
    margin: 0;
    display: inline-block;
}

#application_process .block-pricing .table .table_btn a:hover {
    background: #55b03f;
}

#application_process .block-pricing .table .table_btn a .fa {
    font-size: 13px;
    margin-right: 5px;
}


/* class */

.apply-btn {
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #aa4d64;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    /*text-transform: uppercase;*/
    transition: all 0.5s ease-in-out 0s;
}

.apply-btn:hover {
    color: #fff;
}

/*
項目水平排列
*/
.dropdown-horizon > li{
  display: inline-block;
  min-width: unset !important;
  width: 90px;
}
