
@charset "UTF-8";

.service-apply-btn {
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #aa4d64;
    color: #aa4d64;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

/*.service-apply-btn a {
    background: #aa4d64;
    color: #fff;
    margin: 0;
    display: inline-block;
}

.service-apply-btn a:hover {
    background: #55b03f;
}

.service-apply-btn a .fa {
    font-size: 13px;
    margin-right: 5px;
}*/


/*
項目水平排列
*/
.dropdown-horizon > li{
  display: inline-block;
  min-width: unset !important;
  width: 90px;
}
