<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>禮券</h1>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <section id="product-introduction" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">

                    <div class="section-title text-center">
                        <h2>
                            整合的特色
                        </h2>
                    </div>

                    <div class="introduction-content" data-aos="fade-left" data-aos-delay="100">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i>沒保障：收受消費者充值金額、未進行履約保證、往往令消費者沒有保障</li>
                            <li><i class="fa fa-circle"></i>面對銀行文件弄得一個頭兩個大</li>
                            <li><i class="fa fa-circle"></i>立嗨有專人替您搞定繁瑣流程！</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
        <div class="overlay">
            <div class="container-fluid container-full" data-aos="zoom-in">

                <div class="row epayment-video-poster">
                    <a href="#" class="js-modal-btn play-btn" data-video-id="p4DNioRXoTE"></a>
                </div>

            </div>
        </div>
    </section><!-- End Video Section -->


    <!-- ======= horizon-pricing Section ======= -->
    <section id="horizon-pricing" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>價格說明    </h2>
            </div>

            <div class="text-left">
                <p>
                    使用半年內 免費 ， 一年後  年繳$____  半年$_____  月繳$_____
                </p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th rowspan="4">特約商店開通此服務相關費用</th>
                                <td>充值</td>
                                <td>__%</td>
                                <td> </td>
                            </tr>
                            <tr>

                                <td>發行</td>
                                <td>__%</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>核銷</td>
                                <td>__%</td>
                                <td> </td>
                            </tr>
                            <tr>

                                <td>銀行處理費</td>
                                <td>______</td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End horizon-pricing Section -->


    <!-- ======= application-process Section ======= -->
    <section id="application-process" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>申請流程</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step1</h2>
                            <p>線上註冊帳號</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step2</h2>
                            <p>準備審查必要文件</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step3</h2>
                            <p>內部人員審查</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step4</h2>
                            <p>
                                準備商店大小章，進行紙本合約用印
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step5</h2>
                            <p>
                                金流公司內部審核
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="table">
                            <h2>Step6</h2>
                            <p>
                                通知審核結果/裝機
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End application-process Section ======= -->


    <!-- ======= service-apply Section ======= -->
    <section id="service-apply" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <a href="https://newpayment.wonlive.com.tw/MerchantDraft/Create/e1cae30bf657460da671b08cac2201cd" class="apply-btn">服務申請</a>
            </div>
        </div>

    </section><!-- End service-apply Section -->



</main><!-- End #main -->